<div class="menu">
    {% for item in menu %}
        <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
            <!-- Menu link -->
            <span class="menu-link">
                <span class="menu-icon">{{ theme.getIcon(item.icon, 'fs-2') | raw }}</span>
                <span class="menu-title">{{ item.label }}</span>
                <span class="menu-arrow"></span>
            </span>

            <!-- Menu sub -->
            <div class="menu-sub menu-sub-accordion">
                {% for subitem in item.submenus %}
                    <div class="menu-item">
                        <!-- Menu link -->
                        <a class="menu-link" href="{{ path(subitem.route) }}">
                            <span class="menu-bullet">
                                <span class="bullet bullet-dot"></span>
                            </span>
                            <span class="menu-title">{{ subitem.label }}</span>
                        </a>
                        <!-- End Menu link -->
                    </div>
                {% endfor %}
            </div>
            <!-- End Menu sub -->
        </div>
    {% endfor %}
</div>
