<div data-kt-stepper-element="content">
    <!--begin::Wrapper-->
    <div class="w-100">
        <!--begin::Heading-->
        <div class="pb-10 pb-lg-15">
            <!--begin::Title-->
            <h2 class="fw-bold text-gray-900">Account Info</h2>
            <!--end::Title-->
            <!--begin::Notice-->
            <div class="text-muted fw-semibold fs-6">If you need more info, please check out
                <a href="#" class="link-primary fw-bold">Help Page</a>.
            </div>
            <!--end::Notice-->
        </div>
        <!--end::Heading-->
        <!--begin::Input group-->
        <div class="mb-10 fv-row">
            <!--begin::Label-->
            <label class="d-flex align-items-center form-label mb-3">Specify Team Hospital Size
                <span class="ms-1" data-bs-toggle="tooltip"
                      title="Provide your team size to help us setup your billing">
                    <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                        <span class="path1"></span>
                        <span class="path2"></span>
                        <span class="path3"></span>
                    </i>
                </span>
            </label>
            <!--end::Label-->
            <!--begin::Row-->
            <div class="row mb-2" data-kt-buttons="true">
                <!--begin::Col-->
                <div class="col">
                    <!--begin::Option-->
                    <label class="btn btn-outline btn-outline-dashed btn-active-light-primary w-100 p-4">
                        <input type="radio" class="btn-check" name="account_team_size" value="1-1"/>
                        <span class="fw-bold fs-3">1-1</span>
                    </label>
                    <!--end::Option-->
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col">
                    <!--begin::Option-->
                    <label class="btn btn-outline btn-outline-dashed btn-active-light-primary w-100 p-4 active">
                        <input type="radio" class="btn-check" name="account_team_size" checked="checked" value="2-10"/>
                        <span class="fw-bold fs-3">2-10</span>
                    </label>
                    <!--end::Option-->
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col">
                    <!--begin::Option-->
                    <label class="btn btn-outline btn-outline-dashed btn-active-light-primary w-100 p-4">
                        <input type="radio" class="btn-check" name="account_team_size" value="10-50"/>
                        <span class="fw-bold fs-3">10-50</span>
                    </label>
                    <!--end::Option-->
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col">
                    <!--begin::Option-->
                    <label class="btn btn-outline btn-outline-dashed btn-active-light-primary w-100 p-4">
                        <input type="radio" class="btn-check" name="account_team_size" value="50+"/>
                        <span class="fw-bold fs-3">50+</span>
                    </label>
                    <!--end::Option-->
                </div>
                <!--end::Col-->
            </div>
            <!--end::Row-->
            <!--begin::Hint-->
            <div class="form-text">Les clients verront cette version abrégée de votre descripteur de relevé</div>
            <!--end::Hint-->
        </div>
        <!--end::Input group-->
        <!--begin::Input group-->
        <div class="mb-10 fv-row">
            <!--begin::Label-->
            <label class="form-label mb-3">Hôpital Account Name</label>
            <!--end::Label-->
            <!--begin::Input-->
            <input type="text" class="form-control form-control-lg form-control-solid" name="{{ field_name(form.name) }}"
                   placeholder="Hôpital Account Name" value="{{ field_value(form.name) }}"/>
            <!--end::Input-->
        </div>
    </div>
    <!--end::Wrapper-->
</div>