{% extends "#{theme.getParameter('KT_THEME_LAYOUT_DIR')}/_default.html.twig" %}

{% block page_title %}New AdminRole{% endblock %}

{% block content %}
    <h1>Create new AdminRole</h1>

    {{ include('admin_role/_form.html.twig') }}

    <a href="{{ path('admin_role_index') }}">back to list</a>
{% endblock %}
